<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <% contact.forEach(function(contact){ %>
  <h1><%= contact.name %></h1>

  <div class="contact-list">
      <div>
        <%= contact.name %>
      </div>
      <div>
        <%= contact.email %>
      </div>
      <div>
        <%= contact.phone %>
      </div>
      <div>
        <%= contact.street %>
        <br>
        <%= contact.city %>, <%= contact.state %>, <%= contact.zip %>
        <br>
        <%= contact.country %>
      </div>
      <div>
        <%= contact.birthday %>
      </div>
      <div>
        <%= contact.website %>
      </div>
  </div>
  <% }) %>

</body>
</html>
